*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#fb {
  color: blue;
}

a {
  text-decoration: none;
}

.background {
  background-image: url("../img/fondo-transparente.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-home{
  font-size: 150%;
}

.logotipo{
  font-family: Castoro;
  font-size: 65%;
}

@media screen and (min-width: 768px) {
  .title{font-size: 3rem;}

  .text{font-size: 1.3rem;}

  .sub-title{font-size: 1.4rem;}

  .map{width: 50%;}

}

@media screen and (min-width: 1024px) {
  .title{font-size: 5rem;}

  .text{font-size: 1.5rem;}

  .sub-title{font-size: 4rem;}
}
