.container{
  border: 1px solid #ee284c; 
  border-radius: 15px;
}

.btn{
 color: #fff;
 background-color: #ff9999;
 border-color: #ff9999;
}

#nombre, #apellido, #edad, #peso, #edad, #genero, #email, #pass, #reppass{
  background-color:#ff9999a1;
}

